.card {
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    border-color: #eee;

    .type {
        position: absolute;
        bottom: 0;
        padding: 10px 15px;
        background-color: rgba($primary, 0.7);
        width: 100%;
    }

    &.item-skill {
        text-align: center;
        transition: all 0.3s ease-in-out;
        margin-bottom: 30px;

        .icon {
            img {
                height: 90px;
                width: auto;
            }
        }

        &:hover {
            border-color: $primary;
            transform: scale(1.1);
            border: 1px solid red;
        }
    }
}

.btn-danger {
    color: #fff;
    background-color: red;
    border-color: red;
}

